<div class="container-filter">
  <h1>Filtrado de datos:</h1>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar ..."
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="filterModel"
      (ngModelChange)="filterList($event)"
    />
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <p>{{ filterModel }}</p>
  <ul class="list-group list-filter">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let persona of personas$ | async"
    >
      <a href="" class=""> {{ persona }}</a>
    </li>
  </ul>
</div>
